.search-bar-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid white;
    grid-template-columns: 1.2rem 5rem 1.2rem;
    width: fit-content;
    position: relative;
    background-color: #2a2a2a;
}

.search-icon {
    background-color: transparent;
    border: none;
    border-radius: 0;
    position: absolute;
}

.search-bar-input{
    border: none;
    border-radius: 0;
    background-color: transparent;
}
